{
  "extends": "@lmmmmmm",
  "rules": {
    "semi": ["error", "always"],
    "@typescript-eslint/semi": "off",

    "brace-style": ["error", "1tbs"],
    "@typescript-eslint/brace-style": "off",

    "curly": ["error", "all"],

    "@typescript-eslint/member-delimiter-style": [
      "error",
      {
        "multiline": {
          "delimiter": "semi",
          "requireLast": true
        },
        "singleline": {
          "delimiter": "semi",
          "requireLast": false
        },
        "multilineDetection": "brackets"
      }
    ],

    "arrow-parens": ["error", "always"],

    "sort-imports": "off"
  }
}
